:local(.launchpad) {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 450px;
}

:local(.boardPanel) {
  display: flex;
  flex-direction: column;
}

:local(.sliderPanel) {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
